.background {

  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background::before {
  content: "";
  background-image: url("src/assets/images/fundal/background.png");
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.50;
}

h1 {
  position: absolute;
  color: #000000;
  text-align: center;
  top: 0;
}

h1:hover {
  color: #e7b100;
}

.winnieHappy {
  position: absolute;
  right: 2%;
  bottom: 10%;
}

#winnie {
  width: 480px;
  height: 456px;
}

.img {
  width: 250px;
  height: 250px;
}

.circleDiv {
  position: absolute;
  top: 25%;
  left: 20%;
}

.circleDiv:hover {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #ffc60c;
}

.squareDiv {
  position: absolute;
  top: 25%;
  left: 40%;
}

.squareDiv:hover {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #ffc60c;
}

.triangleDiv {
  position: absolute;
  top: 25%;
  left: 60%;
}

.triangleDiv:hover {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #ffc60c;
}

#how_to_img {
  position: absolute;
  width: 300px;
  height: 300px;
}

#how_to {
  position: absolute;
  left: 5%;
  top: 20%;
}

.bar {
  position: absolute;
  width: 90%;
  margin-left: 50px;
  bottom: 50px;
}
