<div class="container-all">
  <div class="bg"></div>
  <div class="cerinta">
    <h1 (mouseover)="playModul()">Ajuta-l pe Winnie sa gaseasca cuvintele care se potrivesc cel mai bine in
      propozitii</h1>
    <h1 (mouseover)="playCerinta()" [innerHtml]="sentence"></h1>
    <div class="winnie">
      <img alt="winnie" src="assets/images/Rectangle 19.png">
    </div>
  </div>
  <div class="gallery" style="text-align: center; height: 350px;">
    <div (click)="handleClick(1)" (mouseover)="playOption1()" class="bordered">
    <h2  [innerHtml]="option1" ></h2>
    <img [src]=image1 alt="Image 1">
</div>
<div (click)="handleClick(2)" (mouseover)="playOption2()" class="bordered">
    <h2  [innerHtml]="option2"></h2>
    <img [src]=image2 alt="Image 2">
    </div>
    <div (click)="handleClick(3)" (mouseover)="playOption3()" class="bordered">
    <h2  [innerHtml]="option3"></h2>
    <img [src]=image3 alt="Image 3">
  </div>
  </div>
  <div class="bar">
    <mat-progress-bar [value]=progress mode="determinate"></mat-progress-bar>
  </div>
</div>
<router-outlet></router-outlet>

