<div class="final-frame">
  <h1 (mouseover)='overCongrats()' style="text-align: center;font-family: Broadway, Arial,serif;">FELICITARI !!!</h1>
  <div class="row">
    <div class="column">
      <img src="assets/images/final/pink-bird.gif" alt="Snow" style="width:50%; height:50%">
    </div>
    <div class="column">
      <img src="assets/images/final/parrot-bird.gif" alt="Snow" style="width:60%; height:60%">
    </div>
    <div class="column">
      <img src="assets/images/final/birds-flying.gif" alt="Snow" style="width:70%; height:70%">
    </div>
    <div class="column">
      <img src="assets/images/final/whistling-bird.gif" alt="Snow" style="width:50%; height:50%">
    </div>
  </div>
  <div class="row">
    <div class="column2">
      <img src="assets/images/final/spring-bee.gif" alt="Snow" style="width:50%; height:50%">
    </div>
    <div class="column2">
      <img alt="winnie" id="winnie-winner" src="assets/images/final/final-winnie.png" class="center">
    </div>
    <div class="column2">
      <div (click)="startVideo()" (mouseout)='out()' (mouseover)='over()'>
        <img alt="play" class="zoom" src="./assets/images/play.png" style="width:50%; height:50%; margin-top: 100px">
      </div>
    </div>

  </div>
</div>
