/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body, html {
  height: 100%;
  margin: 0;
}

#bg {
  position: fixed;
  bottom: 0;
  left: 0;

  min-width: 100%;
  min-height: 100%;
}

.gallery {
  height: 600px;
  width: 90%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin-left: 50px;
}

.gallery img {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  height: 500px;
  width: 300px;
}

.bordered:hover {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 30px 0 rgba(137, 196, 244, 1);
  -moz-box-shadow:    0 0 30px 0 rgba(137, 196, 244, 1);
  box-shadow:         0 0 30px 0 rgba(137, 196, 244, 1);
}

.cerinta {
  margin-left: 50px;
}

.bar {
  width: 90%;
  margin-left: 50px;
}
