/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body, html {
  height: 100%;
  margin: 0;
}

#bg {
  position: fixed;
  bottom: 0;
  left: 0;

  min-width: 100%;
  min-height: 100%;
}

img {
  height: 400px;
  width: 200px;
}

.dialog-nobg .mat-dialog-container {
  background: none;
  box-shadow: none;
}


