.gallery-mediu {
  height: 400px;
  width: 90%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin-left: 150px;
  position: relative;
}

.gallery-mediu img {
  width: 70%;
}

.game {
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-image: url("src/assets/images/mediu/background.png");
  background-size: cover;
  position: absolute;
}

h1 {
  text-align: center;
}

h1:hover {
  color: #e7b100;
}

h2 {
  color: #000000;
  text-align: center;
}

h2:hover {
  color: #e7b100;
}

.gallery-mediu img:hover {
  box-shadow: 0 0 3px 5px yellow;
  background-color: white;
}

#winnie-thinking {
  width: 20%;
  height: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bar {
  position: absolute;
  width: 90%;
  margin-left: 50px;
  bottom: 50px;
}
